{% extends 'base.html' %}
{% block content %}
<form class="box" method="post">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label" for="token">Token</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-rounded" name="token" id="token" required>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
    <label class="label" for="identifier">Identifier</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-rounded" name="identifier" id="identifier" required>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label" for="new_url">New URL</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-rounded" type="url" name="new_url" id="new_url">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="control">
        <input class="button is-link" type="submit" value="Update URL">
      </div>
    </div>
  </div>
</form>

<div class="box">
  Updates can also be performed by setting the header <span class="is-family-monospace">X-Access-Token</span> to the token value and doing a POST request with the content:
  <pre>
    <code>
{
  "identifier": "identifier",
  "new_url": "https://www.example.com"
}
    </code>
  </pre>
  <div class="is-size-5">
    Using CURL:
  </div>
  <pre>
curl -X POST -d '{"identifier":"identifier1","new_url":"https://example.com"}' \
     -H "X-Access-Key: token" \
     -H "Content-Type: application/json" \
     {{ url_for('update_entry', _external=True) }}
  </pre>
  <div class="is-size-5">
    Using Python:
  </div>
  <pre>
import requests

requests.post('{{ url_for('update_entry', _external=True) }}',
              headers={'X-Access-Key': 'token'},
              json={'identifier': 'identifier1',
                    'new_url': 'https://www.example.com'})
  </pre>
</div>
{% endblock %}
